/*///////////////////////////////////////*//*
			 _____  _____ _____ 
			/  __ \/  ___/  ___|
			| /  \/\ `--.\ `--. 
			| |     `--. \`--. \
			| \__/\/\__/ /\__/ /
			 \____/\____/\____/ 
                    
*//*///////////////////////////////////////*/


*{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}
body{
	background: #cacaca;
	min-height: 100vh;
}

/*/////////=CSS=///////////*/

/*/////////=CSS=///////////*/


/*////////////////////////////////////////